.container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  gap: 200px;
  font-family: Arial, sans-serif;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
  display: flex;
  gap:10px;
}

button {
  background-color: rgb(84, 220, 84);
  border: none;
  color: rgb(27, 25, 25);
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(9, 150, 9);
}

.message {
  margin-top: 10px;
  color: #333;
  font-weight: 500;
}
